#unvar kill_path
#list {kill_path}{clear}
#unvar {area_items}
#list {area_items}{clear}
#unvar all_area_items
#var area_aggro 1

#var kill_path {e;w;w;e;s;e;w;w;e;s;e;w;w;e;s;e;w;w;e;s;e;w;w;e;s;w;e;s;e;w;w;e;n;n;n;n;n;n}

#list {kill_path}{create}{$kill_path}
#list {kill_path}{size}{max_room}

#var stepper 1
#var room_num 0

#var {area_items}{puppy}
#list {area_items}{create}{$area_items}
#list {area_items}{size}{all_area_items}

rating
