#unvar kill_path
#list {kill_path}{clear}
#unvar {area_items}
#list {area_items}{clear}
#unvar all_area_items

#var kill_path {n;n;n;n;n;n;n;se;w;w;e;s;sw;s;s;s;s;w;n;n;n;nw;s;s;s;s;w;n;nw;e;n;w;n;e;n;w;w;ne;n;s;se;se;se;e;e;e;n;s;s;s;s;e;n;n;n;e;s;s;s;e;n;n;n;n;ne;s;s;s;s;s;n;ne;n;n;n;n;n;s;se;sw;w;s;w;s;w;s;w;s;w;w}

#list {kill_path}{create}{$kill_path}
#list {kill_path}{size}{max_room}

#var stepper 1
#var room_num 0

rating
