#unvar kill_path
#list {kill_path}{clear}
#unvar {area_items}
#list {area_items}{clear}
#unvar all_area_items
#var area_aggro 0

#var stepper 0

#var {area_items}{}

#list {area_items}{create}{$area_items}
#list {area_items}{size}{all_area_items}

#alias {sauk}{search bed;pull lever;search dresser;open drawer;get key}
rating
