#config {repeat enter}{on};
#config {packet patch}{0.5};

#alias {load} {
	#read ${globalpath}/aliases.tin;
	#read ${globalpath}/vars.tin;
	#read ${globalpath}/trigs.tin;
	#read ${globalpath}/triggers.tin;
	#read ${globalpath}/graph.tin;
	#read ${globalpath}/mip.tin;
	#read ${globalpath}/ansi.tin;
	#read ${profilepath}/mysql.tin;
	#read ${globalpath}/mapper.tin;
	#read ${globalpath}/chat.tin;
	#read ${globalpath}/aliases.tin;
	#read ${globalpath}/assemble.tin;
	#read ${globalpath}/corpses.tin;
	#read ${globalpath}/gag.tin;
	#read ${globalpath}/mob_monitors.tin;
	#delay {ansi}{
		redraw;
		#read ${globalpath}/ansi_setup.tin
	}{2};
	#nop {draw.tin stuff};
	#read ${globalpath}/chat.tin;
	#read ${globalpath}/exits.tin;
	#read ${globalpath}/killer.tin;
	#read ${globalpath}/damagetracker.tin;
	#nop {These are also available to put into char files};
	#nop {
		#read ${globalpath}/pokedex.tin;
		#read ${globalpath}/jedimode.tin;
		#read ${globalpath}/summoner.tin;
		#read ${globalpath}/angelform.tin;
	};
	#nop {end of draw.tin.stuff};
	#read ${myprofilepath}/aliases.tin;
	#read ${myprofilepath}/vars.tin;
	#read ${myprofilepath}/macros.tin;
	#read ${myprofilepath}/triggers.tin;
	#read ${charpath}/char.tin;
	#read ${charpath}/aliases.tin;
	#read ${charpath}/vars.tin;
	#read ${charpath}/triggers.tin;
	#read ${charpath}/macros.tin;
	#read ${globalpath}/draw.tin;
	#script {cat ${charpath}/lastroom.tt};
	resume_chat;
}

load;

#sub {~\t} {       }
